@import './helpers/nullstyle.css';
@import './helpers/fonts.css';
@mixin flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.wrapper{
    @include flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
}
nav{
    justify-content: space-around;
    background-color: #88C6FE;
    padding: 10px 0;
    .logo{
        @include flex;
        img{
            width: 55px;
            height: 55px;
        }
        h2{
            margin-left: 15px;
            font-family: 'MuseoModerno';
            font-style: normal;
            font-weight: 600;
            font-size: 2rem;
            line-height: 64px;
            color: #3100F7;
        }
    }
    ul{
        @include flex;
        flex-direction: row;
        gap:40px;
        li{
            @include flex;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 1.1rem;
            line-height: 30px;
            a{
                color:#000000;
            }
            svg{
                align-items: center;
            }
        }
    }
    .btns{
        button{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 0.9rem;
            line-height: 22px;
            color: #191816;

            background: #EFF0F5;
            border-radius: 15px;
            padding: 11px 28px;
            transition: all 1s;
            margin-left: 10px;
        }
        button:hover{
            background-color: #3100F7;
            color: #EFF0F5;
        }
    }
}


header{
    @include flex;
    gap:154px;
    margin-top: 40px;
    .header__texts{
        display: flex;
        gap: 25px;
        flex-direction: column;
        h1{
            font-family: 'MuseoModerno';
            font-style: normal;
            font-weight: 900;
            font-size: 5rem;
            line-height: 72px;
    
            background: linear-gradient(207.26deg, #3100F7 39.57%, #5E61FF 122.85%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        h2{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 2rem;
            line-height: 34px;
            color: #000000;
            p{
                font-size: 1.5rem;
            }
        }
        h3{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 39px;
            color: #000000;
        }
        button{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 44px;
            color: #FFFFFF;

            background: linear-gradient(180deg, rgba(49, 0, 247, 0.71) 0%, #562EF8 122.9%);
            border-radius: 16px;
            padding: 12px 28px;
        }
        
    }
}